<p> <%=t('hello_email',email: @resource.email) %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%=t('Email_changed', email: @resource.unconfirmed_email ) %></p>
<% else %>
  <p><%=t('Email_changed', email: @resource.email ) %></p>
<% end %>
